.root {
    light: derive(rgb(155, 209, 245), +50%); /* geraten #b4eaff */
    highlight: #c44895;
    -jfxe-backplane-color: #202020;
    textcolor-warning: brown;
    negative: #D03030;
}

.character-view-layout {
   -fx-background-image: url(Seattle_CRB1.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
}

.app-layout {
  -fx-background-color: #202020;
  -fx-background-image: url(ChapterIntroBG.jpg);
  -fx-background-position: center;
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}
/*
.app-layout:minimal {
	-jfxe-secondary-color: black;
}

.app-layout:nonminimal  {
	-jfxe-secondary-color: transparent;
	-jfxe-text-on-secondary-color: #c44895;
	-fx-background-image: url(border.png);
  	-fx-background-size: contain;
  	-fx-background-position: right top;
  	-fx-background-repeat: no-repeat;
}

.app-layout:nonminimal .page-head {
  -fx-background-image: url(SR6Logo1.png);
  -fx-background-position: top right;
  -fx-background-size: 100px;
  -fx-background-repeat: no-repeat;
}

.app-layout:minimal .page-content {
	-fx-background-image: url(border.png);
  	-fx-background-size: contain;
  	-fx-background-position: right top;
  	-fx-background-repeat: no-repeat;
	-fx-padding: 0 3em 0 1em;
}

.app-layout:minimal .page-head {
	-fx-background-image: url(border.png);
  	-fx-background-size: contain;
  	-fx-background-position: right top;
  	-fx-background-repeat: no-repeat;
	-fx-padding: 0 3em 0 1em;
}
*/

.tabs-button {
	-fx-background-color: transparent;
	-fx-padding: 4px 4px 0 4px;
	-fx-border-width: 0px;
}
.tabs-button:selected {
	-fx-border-width: 0 0 2px 0;
}
.install-button {
	-fx-graphic: url("toggle-unselected.png");
	-fx-background-color: transparent;
	-fx-padding: 4px 4px 0 4px;
	-fx-border-width: 0px;
	-fx-content-display: graphic-only;
}
.install-button:selected {
	-fx-graphic: url("toggle-selected.png");
}

.application-screen-navig {
	-fx-background-color: rgba(32,32,32,0.8);
}

.page-pile {
	-fx-background-color: linear-gradient(from 0px 0px to 100% 20em ,-fx-base, transparent);
}
.backdrop {
	-fx-background-color: transparent;
}
.backdrop-front {
	-fx-background-color: transparent;
}
.backdrop-front-uplift {
	-fx-background-color: -fx-base;
}
.navigation-pane-vertical {
    -fx-min-width: 12em;
    -fx-pref-width: 12em;
    -fx-background-color: derive(-fx-base, +20%);
}
.page-head {
  -fx-background-image: url(SR6Logo1.png);
  -fx-background-position: top right;
  -fx-background-size: 100px;
  -fx-background-repeat: no-repeat;
}
.backdrop-back {
    -fx-background-color: transparent;
}
.backdrop-back-content {
    -fx-background-color: transparent;
}
.backdrop-back-header {
    -fx-background-color: transparent;
}
.backdrop-front {
  	-fx-background-size: cover;
	-fx-background-radius: 16px 16px 0 0;
	-fx-border-radius: 16px 16px 0 0;
	-fx-padding: 0 1em 0 1em;
}

#header {
	-fx-graphic: url(commlink.png);
	-fx-font-weight: bold;
    -fx-border-width: 0px 0px 0px 0.3em;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0.5em;
    -fx-max-width: 12em;
    -fx-alignment: center-left;
}

.category-button {
	-fx-background-color: rgba(255,255,255, 0.4);
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: rgba(0,0,0, 0.1);
}

#categories {
	-fx-hgap: 1em;
	-fx-vgap: 1em;
	-fx-alignment: top-center;
}

#categories .button {
	-fx-min-width: 15em;
	-fx-pref-width: 20em;
}

.description-pane > .label {
	-fx-text-fill: -fx-text-inner-color;
}

.table-head {
	-fx-text-fill: highlight;
	-fx-fill: highlight;
	-fx-background-color: #dbdad0;
	-fx-font-weight: bold;
	-fx-alignment: center;
}
.table-head > .text{
	-fx-fill: highlight;
}
.table-data {
	-fx-text-fill: derive(-fx-text-base-color, -80%);
}
.table-head-toggle  {
	-fx-text-fill: highlight;
	-fx-fill: highlight;
	-fx-background-color: #dbdad0;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-padding: 1px;
}
.table-head-toggle:selected {
	-fx-background-color: primary;
	-fx-text-fill: -fx-base;
}
.table-head-toggle:focused{
	-fx-background-color: derive(#4CD7F6, +20%);
}
.table-head-toggle:hover  {
	-fx-background-color: derive(#dbdad0, -20%);
}

.hello {
	-fx-background-color: rgba(0,0,0, 0.5);
	-fx-pref-width: 30em;
}

.page #debug {
	-fx-background-image: url(ChapterIntroBG.jpg);
}

/*
#debug .page-content {
	-fx-background-color: white;
	-fx-background-image: url(PageBG1.jpg);
  -fx-background-position: top left;
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}
*/
.metatype-table {
	-fx-background-color: #e9e9e2;
}
.metatype-table .label {
	-fx-text-fill: #010101;
}

.list-section .list-view {
	-fx-background-color: transparent;
}

.list-section .list-view .list-cell{
	-fx-background-color: transparent;
}
.list-section .list-view .list-cell:hover {
	-fx-background-color: -fx-hover-base;
}
.list-section .list-view .list-cell:selected {
    -fx-background-color: -fx-background;
}
.list-section .list-view .list-cell:selected:hover {
    -fx-background-color: -fx-faint-focus-color;
}


/*
 * Priority table
 */
.priobutton {
	-fx-background-color: transparent;
}
.priobutton:hover {
    -fx-background-color: -fx-accent;
}
.priobutton:hover {
    -fx-background-color: -fx-cell-hover-color;
}
.priobutton:selected {
	-fx-background-color: highlight;
}
.priobutton:selected:hover {
  -fx-background-color: -fx-focus-color;
}

.detail-card {
  -fx-background-color: rgba(0,0,0,0.7);
}

.todos {
   -fx-background-color: #cbcac0;
	-fx-text-fill: black;
	-fx-padding: 1em;
	-fx-background-radius: 1em;
	-fx-border-radius: 1em;
	-fx-border-width: 5px;
    -fx-border-color: -fx-base;
}
.todos .label {
	-fx-text-fill: black;
}

.todos-stopper {
    -fx-border-color: red;
}
.todos-warning {
    -fx-border-color: orange;
}

.device-circle {
	-fx-stroke: highlight;
}

.state-minus {
	-fx-text-fill: red;
}