.card {
  background-image: url("ChapterIntroBG_small.jpg");
  height:100%;
  display: flex;
  flex-direction: column;
}
.cardhead,  .state {
  background-color: 9b196c;
}
.cardrules,  .state {
  background-color: 9b196c;
}
.state, .cardhead  img.category {
	color: 9b196c;
}

.cardhead,  .action {
  background-color: darkgreen;
}
.cardrules,  .action {
  background-color: darkgreen;
}
.action > .cardhead  img.category  {
	color: darkgreen;
}

.cardhead,  .matrix {
  background-color: blue;
}
.cardrules,  .state {
  background-color: blue;
}
.state, .cardhead  img.category {
	color: blue;
}

.card-top-text {
	color: white;
	text-align: center;
	margin-bottom: -20px;
}

.card-bottom-text {
	color: white;
	text-align: center;
	margin-top: -10px;
}

.cardhead {
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: right;
  font-size: 200%;
  display: block;
}
.cardhead .edge {
	position: absolute;
	left: 15px;
	margin-top: -5px;
}
.cardhead  .edgetoken {
	z-index: 1;
	position: absolute;
}
.cardhead  .edgecost {
	z-index: 2;
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	top: 3px;
}
.cardhead  img.category {
	background-color: white;
	padding: 5px;
	margin-top: -20px;
	margin-bottom: -20px;
	border: solid 2px;
}
.cardcontent {
  background-color: white;
  flex: 1;
  padding-left: 2px;
  padding-right: 2px;
}
.cardcontent:before {
  content: "";
  background: url("Transform1.png");
   width: 264px;
   height: 20px;
  display: block;
  margin-left: -2px;
  margin-right: -2px;
}

.cardrules:before {
  content: "";
  background: url("Transform2.png");
   width: 264px;
   height: 20px;
  display: block;
  border-bottom: solid white 2px;
  margin-left: -2px;
  margin-right: -2px;
}
.cardrules {
  border-bottom: solid white 2px;
  color: white;
  margin-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
